/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.home-header { display: flex; min-height: 100vh; }
.home-header h1 { font-size: clamp(32px, 5vw, 80px); font-weight: 100; color: #fff; line-height: 1; margin-bottom: 1.5rem; }
.home-header h1 strong { font-weight: 400; }
.home-header .pre-hidden { transition: opacity 2s; }
.home-header .header-left { padding-top: 5.25rem; padding-right: clamp(24px, 20vw, 250px); padding-left: 4.5rem; padding-right: 4.5rem; flex-shrink: 0; display: flex; align-items: center; justify-content: center; width: 60vw; }
.home-header .header-left .content-content { max-width: 640px; }
.home-header .header-left p { color: var(--grey); }
.home-header .header-right { display: flex; flex-shrink: 0; margin-left: auto; flex-grow: 1; width: 40vw; }
.home-header .header-right .simpleParallax { height: 100%; }
.home-header .header-right .img-wrap {  }
.home-header .header-right .img-wrap img { height: 100%; object-position: left; }