/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.home-header { display: flex; min-height: 100vh; }
.home-header h1 { font-size: clamp(2rem, 5vw, 5rem); font-weight: 100; color: #fff; line-height: 1; margin-bottom: 1.5rem; }
.home-header h1 strong { font-weight: 400; }
.home-header .pre-hidden { transition: opacity 2s; }
.home-header .header-left { padding-top: 5.25rem; padding-right: clamp(24px, 20%, 250px); padding-left: 4.5rem; padding-right: 4.5rem; flex-shrink: 0; display: flex; align-items: center; justify-content: center; width: 60%; }
.home-header .header-left .content-content { max-width: 640px; }
.home-header .header-left p { color: var(--grey); }
.home-header .header-right { display: flex; margin-left: auto; width: 40%; }
.home-header .header-right .simpleParallax { height: 100%; }
.home-header .header-right .img-wrap {  }
.home-header .header-right .img-wrap img { height: 100%; object-position: left; }


@media screen and (max-width: 991px) {
    .home-header { display: block; min-height: 0; }
    .home-header h1 { font-size: clamp(2rem, 7vw, 5rem); }
    .home-header .header-left { width: 100%; padding-bottom: 3.25rem; }
    .home-header .header-right { width: 100%; margin-left: 0; }
}

@media screen and (max-width: 767px) {
    .home-header .header-left { display: block; padding: 5.25rem 0.875rem 3.25rem; }
}

@media screen and (max-width: 575px) {
    .home-header .header-left {padding-bottom: 2.5rem; }
}